

.p_size-text { 
    font-size: 18px;
    width: 50%;
    text-align: center;
}

.fa-html5 {
    color:tomato;
}

.fa-css3-alt {
    color: rgb(17, 17, 98);
}

.fa-sass {
    color: pink;
}

.fa-js {
    color: yellow;
}

.fa-react {
    color: turquoise;
}

.fa-git-alt {
    color: tomato;
}