*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header a partir de acá */

header {
    width: 100%;
    height: 90px;
    box-shadow: 0 5px 5px rgba(226, 220, 220, 0.75);
    position: fixed;
    background-color: white;
}

nav {
    width: 100%;
    height: 100%;
    
}

ul { 
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    
}

.nav-items-list{
    width: 45%;
    height: 100%;
    margin-left: 40%;
}


.btn-contact-nav {
    width: 150px;
    height: 40px;
    background-color: blue;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.btn-contact-nav:hover {
    background-color: cadetblue;
}

.font-hover:hover {
    color: blueviolet
}

.link-none {
    text-decoration: none;
}
.link-none:visited {color: black;  
    text-decoration: none 
}
.link-none:hover {
    color: blueviolet
}

/* Hasta acá el header 
------------------------------------
inicio del main */

main {
    width: 100%;
    

}

.presentation {
    height: 940px;
    width: 100%;
    padding: 10%;    
    display: flex;
    flex-direction: row;    
    justify-content: space-around;
    align-items: center;

}

/* info texto presentation */


.name-info  {
    width: 50%;
    height: 100%;
    margin-top: 30%;
}

.presentation-saludo {
    font-size: 30px;
    font-weight: bold;
}

.presentation-name {
    font-size: 60px;
    color: darkcyan;
    margin: 30px 0px 10px;
}

.btn-loquehago {
    width: 200px;
    height: 50px;
    background-color: blue;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    margin-top: 80px;
}

.btn-loquehago:hover {
    background-color: cadetblue;
}
<i class="fab fa-git-alt"></i>

.img-box-presentation {
    width: 50%;
}

.lola-img-presentation {
    width: 80%;
}

/*CAJA DE ICONOS CONOCIMIENTO*/

.dev-lg-title-icons-box {
    width: 100%;
    height: 900px;
    padding: 100px 200px  0px;
    background-color: rgb(226, 226, 226);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dev-box-title {
    font-size: 50px;
    font-weight: 900;
    width: 100%;
    text-align: center ;
}

.dev-box-icons {
    margin-top: 50px;
    padding: 20px;
    width: 80%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.dev-icon-img {
    height: 40%;
    width: 30%;
    border: 2px rgb(192, 192, 192) solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center ;
    margin-bottom: 20px;
    font-size: 25px; 
    padding: 10px; 
    background-color: white;  
}

.dev-icon-img:hover {
    border: 2px brown solid;
}

.icon-size {
    font-size: 80px;
    padding: 30px 0px 10px;
}

.fa-html5 {
    color:tomato;
}

.fa-css3-alt {
    color: rgb(17, 17, 98);
}

.fa-sass {
    color: pink;
}

.fa-js {
    color: yellow;
}

.fa-react {
    color: turquoise;
}

.fa-git-alt {
    color: tomato;
}





/* footer info */

footer {
    width: 100%;
    height: 350px;
    background-color: chocolate;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
}

.footer-list-items-nav {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-contact-items {
    width: 30%;
    font-size: 15px;
    color: white;
}
.foot-items-list{
    color: cornsilk;
}
.link-color {
    color: white;
    text-decoration-line: none ;
}
.link-color:hover {
    color: violet;
}

/* caja iconos social media */

.socialmedia-box-footer {    
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.icon-sm-circle {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color:chocolate;
    margin: 20px 10px;
}

.footer-link {
    background-color: white;
    color:chocolate;

}

.made-with-wine {
    font-size: 20px;
    color: rgb(218, 206, 206);
    margin-top: 50px;
}

.fa-wine-glass-alt {
    color: rgb(255, 254, 254);
}
