

.proyectos {
    width: 100%;
    height: 75rem; 
    padding:5% 0% 2%; 
    background-color: #fffffb ;
}

.proyectos_container {
    width: 80%;
    height: 50rem;
    margin-top: 3%;
}

.proyectos_card {
    border-radius: 10px;
    background-color:white;
    border: 1px solid rgb(245, 229, 229);
    height: 30%;
    width: 30%;
    padding: 2%;
    transition: .5s;   
}

.img_size {
    width:70%;
    height:100%;
    background-repeat:no-repeat;
    background-size:contain;
    background-position: center;
    transition: .5s;
}

.img_background_portafolio {
    background-image:url('../assets/images/friends.svg');
}

.img_background_memes {
    background-image:url('../assets/images/undraw_Playful_cat_rchv.svg');
}

.img_background_match {
    background-image:url('../assets/images/undraw_best_place_r685.svg');
}

.img_background_gastos {
    background-image:url('../assets/images/undraw_Messaging_fun_re_vic9.svg');
}

.img_background_reuniones {
    background-image:url('../assets/images/undraw_Around_the_world_re_n353.svg');
}

.img_background_app {
    background-image:url('../assets/images/undraw_flowers_vx06.svg');
}

.img_background_peliculas {
    background-image:url('../assets/images/undraw_Landscape_mode_re_r964.svg');
}

.img_text {
    font-size: 16px;
    font-weight: 400;
    margin-top: 6%;
    transition: .5s;
}

.proyectos_card:hover {
    border: 3px solid #0b87a0;
    transition:.5s;
    background-color: #ffffff;
}

.proyectos_card:hover .img_text {
    font-size: 18px;
    font-weight: 600;
    transition: .5s;
}

.proyectos_card:hover .img_size {
    width:80%;
    height:100%;
    background-repeat:no-repeat;
    background-size:contain;
    background-position: center;
    transition: .5s;
}


.proyectos_card:hover .img_background_portafolio {
    filter: drop-shadow(0 0 0.8rem #26B7FC);
}
.proyectos_card:hover .img_background_memes {
    filter: drop-shadow(0 0 0.8rem #F2E124);
}
.proyectos_card:hover .img_background_match {
    filter: drop-shadow(0 0 0.9rem #EB872E);
}
.proyectos_card:hover .img_background_gastos {
    filter: drop-shadow(0 0 0.8rem #67FC26);
}
.proyectos_card:hover .img_background_reuniones {
    filter: drop-shadow(0 0 0.8rem #504DF1);
}
.proyectos_card:hover .img_background_app {
    filter: drop-shadow(0 0 0.8rem crimson);
}
.proyectos_card:hover .img_background_peliculas {
    filter: drop-shadow(0 0 0.8rem #1454F5);
}

.wilde_quote {
    animation-name: wilde;
    animation-duration: 6s;
    animation-direction: normal reverse;
    animation-iteration-count: infinite;
}

@keyframes wilde {
    0% { color: white; font-weight: 100}
    100% { color: black; font-weight: 300; }
}

