

.proyectos {
    width: 100%;
    height: 75rem; 
    padding:5% 0% 2%; 
}

.proyectos_container {
    width: 80%;
    height: 50rem;
    margin-top: 3%;
}

.proyectos_card {
    border-radius: 10px;
    border: 1px solid rgb(224, 220, 220);
    height: 30%;
    width: 30%;
    padding: 2%;
    transition: .5s;   
}

.img_size {
    width:70%;
    height:100%;
    background-repeat:no-repeat;
    background-size:contain;
    background-position: center;
    transition: .5s;
}

.img_background_portafolio {
    background-image:url('../assets/images/friends.svg');
}

.img_background_memes {
    background-image:url('../assets/images/undraw_Group_chat_re_frmo.svg');
}

.img_background_match {
    background-image:url('../assets/images/undraw_best_place_r685.svg');
}

.img_background_gastos {
    background-image:url('../assets/images/undraw_Messaging_fun_re_vic9.svg');
}

.img_background_reuniones {
    background-image:url('../assets/images/undraw_Around_the_world_re_n353.svg');
}

.img_background_app {
    background-image:url('../assets/images/undraw_flowers_vx06.svg');
}

.img_background_peliculas {
    background-image:url('../assets/images/undraw_Landscape_mode_re_r964.svg');
}

.img_text {
    font-size: 16px;
    font-weight: 400;
    margin-top: 6%;
    transition: .5s;
}

.proyectos_card:hover {
    border: 2px solid #077187;
    transition:.5s;
    background-color: #f5f1ee;
}

.proyectos_card:hover .img_text {
    font-size: 18px;
    font-weight: 600;
    transition: .5s;
}

.proyectos_card:hover .img_size {
    filter: drop-shadow(2px 5px 20px #00A7E1);
    width:80%;
    height:100%;
    background-repeat:no-repeat;
    background-size:contain;
    background-position: center;
    transition: .5s;
}

.wilde_quote {
    animation-name: wilde;
    animation-duration: 6s;
    animation-direction: normal reverse;
    animation-iteration-count: infinite;
}

@keyframes wilde {
    0% { color: white; font-weight: 100}
    100% { color: black; font-weight: 300; }
}