
@media screen and (max-width: 400px) {
    
    
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

/* Header a partir de acá */

header {
    display: none;
}


/* Hasta acá header 
------------------------------------
inicio del main */


main {
    width: 100%;
}

.encabezado {    
    width: 100%; 
    height: 50rem; 
    display: flex;
    flex-direction:column;
    justify-content: center;    
    align-items: center;
}

.p_size-text {
    width: 70%;
    font-size: 1rem;
}

.encabezado_texto-caja {
    width: 100%;
    height:30rem;
    display: flex;
    flex-direction:column;
    justify-content: center;    
    align-items: center;
}

.presentacion-saludo {
    font-size: 1,5rem;
    font-weight: bold;
}

.presentacion-name {
    font-size: 4rem;
    color: darkcyan;
    margin: 10px 0px 10px;
    text-align: center;
}

.btn_loquehago {
    width: 60%;
    height: 10%;
    background-color: #343F56;
    border-radius: 30px;
    color:white;
    margin-top: 8%;
    margin-left: 2%;
}

.btn_loquehago:hover {
    background-color: cadetblue;
}

.encabezado_imagen {
    width: 100%;
    height: 100%
}

.lola-img-presentation {
    width: 80%;
    height: 25rem;
}

/*CAJA DE ICONOS CONOCIMIENTO*/

.section_conocimientos {
    width: 100%;
    height: 48rem;
    padding-top: 20%;
    background-color: #F8F5F1;
}

.titulo {
    font-size: 1.6rem;
    font-weight: 900;    
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}


.conoc_box_iconos {
    margin-top: 2.5rem;    
    width: 60%;
    height: 50%;
}

.c_icon_box {
    width: 45%;
    height: 40%;    
    margin-bottom: 5%;    
    padding: 0.5rem;
}

.icon-size {
    font-size: 3.5rem;
    padding-top: 0.8rem;
}

.c_icon_text {
    font-size: 0.8rem; 
    margin-top: 1rem;
    
}



/* quote */

.quote {
    height:42rem;
    width:100%;
    padding: 8rem 2.5rem;
}

.fa-quote-right {
    font-size: 8rem;
    margin-bottom: 5%;
}



.quote_autor {
    font-size: 2.4rem;
    margin-top: 20%;
}


.proyectos {
    width: 100%;
    height: 90rem; 
    padding:10% 0% 2%; 
}

.proyectos_img_container {
    width: 100%;
    margin-top: 6%;
    display: flex;
    justify-content: center;
}

.proyectos_img_card {
    height: 10rem;
    width: 70%;
    padding: 2% 2% 2%; 
    margin: 0.6rem;   
}

.proyectos_img_card:hover {
    border: 1px solid #7A306C;
}

.card_img {
    height:70%;
    width:100%
}

.img_size-text {
    font-size: 16px;
    font-weight: 400;
    margin-top: 6%;
}


































/* footer info */

footer {
    width: 100%;
    height: 16rem;
    background-color: #E9896A;
    padding-top: 1rem;
}

.footer_contact_list {
    display: none;
}

/* caja iconos social media */


.socialmedia_box_size {
    
    border-radius: 50px;
    background-color: white;
    color:#E9896A;
    margin: 1rem 0.5rem;
}

.footer_link_color {
    background-color: white;
    color:#E9896A;

}

.made-with-wine {
    font-size: 20px;
    color: rgb(218, 206, 206);
    margin-top: 1rem;
}

.fa-mug-hot {
    color: rgb(255, 254, 254);
}

}
