
.section_contact {
    height:45rem;
    width:100%;
    background-color: #F7F7FB;
}

.contact_box {
    padding: 2rem 3rem;
    border-radius: 20px;
    border: 1px solid #63cfb8;
    width: 80%;
    margin-bottom: 3rem;
    height: 42rem;
}

.contact_form {
    width: 50%;
    height: 100%;
}

.h3_form {
    font-size: 3rem;
    font-weight: 900;
    width: 100%;
    padding-bottom: 1rem;
}

.contact_iconos {
    margin-top: 2rem;
    width: 100%;
    list-style: none;
} 

.i_contact {
    padding: 0.4rem;
    font-size: 1.6rem; 
    color: #7870c2;
}

.i_text {
    font-size: 1rem;
    padding-left: 1rem;
    text-decoration: none; 
    color: black; 
}

.line_style {
    margin-top: 1rem;
}

a:hover .i_contact{
    color: white;
    border-radius: 55%;
    padding: 0.8rem;
    background-color: #7870c2;
    cursor: pointer;
}

a:hover .i_text {
    color: #0e8f73;
}

/*Formulario*/


.form_line {
    width: 95%;
}

.input-style {
    border-radius: 1rem;
    border-style: none;
    margin: 0.5rem;
    background-color: rgb(245, 245, 245);
    outline-style: none;
}

label {
    padding: 0.5rem;
    font-weight: 700;
}

.input_apellido-nombre {
    width: 100%;
}

.input_mitad {
    width: 90%;
    height: 2.5rem;
    margin-right: 0.5rem;
}

.input-heigt {
    height: 2.5rem;
    width: 100%;  
}

textarea {
    width: 100%;
    padding-top: 0.5rem;
}

.btn_enviar {
    width:25%;
    margin-top: 1rem;
    border: transparent;
}

.btn_enviar:hover {
    background-color: #123d34;
    cursor: pointer;
}
