@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

/* Header a partir de acá */

header {
    width: 100%;
    height: 90px;
    box-shadow: 0 5px 5px rgba(226, 220, 220, 0.75);
    position: fixed;
    background-color: white;
}

nav {
    width: 100%;
    height: 100%;   
}


.nav_list_header{
    width: 45%;
    height: 100%;
    margin-left: 40%;
    justify-content: space-evenly;
    list-style: none; 
}

.nav_btn_contact {
    width: 150px;
    height: 40px;
    background-color: #343F56;
    border-radius: 30px;
    color: white;
}

.nav_btn_contact:hover {
    background-color: #387C6D;
}

.font-hover {
    list-style: none;
}
.font-hover:hover {
    color: #343F56;
}

.link-none {
    text-decoration: none;
}
.link-none:visited {color: black;  
    text-decoration: none 
}
.link-none:hover {
    color: rgb(85, 71, 99)
}

/* Hasta acá header 
------------------------------------
inicio del main */

main {
    width: 100%;
}

.section_presentacion {
    height: 840px;
    width: 100%;
    padding: 10%;       
    justify-content: space-around;
}


.presentacion_texto {
    width: 50%;
    height: 100%;
    margin-top: 30%;
}

.presentacion-saludo {
    font-size: 25px;
    font-weight: bold;
}

.presentacion-name {
    font-size: 60px;
    color: darkcyan;
    margin: 10px 0px 10px;
}

.btn_loquehago {
    width: 200px;
    height: 50px;
    background-color: #343F56;
    border-radius: 30px;
    color:white;
    margin-top: 80px;
}

.btn-loquehago:hover {
    background-color: cadetblue;
}

.presentacion_imagen {
    width: 60%;
}

.lola-img-presentation {
    width: 80%;
}

/*CAJA DE ICONOS CONOCIMIENTO*/

.section_conocimientos {
    width: 100%;
    height: 1000px;
    background-color: #F8F5F1;
}

.titulo {
    font-size: 50px;
    font-weight: 900;
    width: 100%;
    text-align: center;
    margin-top: 10%;

}

.conoc_lorem {
    font-size: 18px;
    width: 45%;
    margin-top: 40px;
    text-align: center;
}

.conoc_box_iconos {
    margin-top: 50px;    
    width: 60%;
    height: 50%;
   
}

.c_icon_box {
    height: 45%;
    width: 30%;
    border: 1px rgb(192, 192, 192) solid;
    border-radius: 10px;
    margin-bottom: 5%;    
    padding: 10px; 
    background-color: white;  
}

.c_icon_box:hover {
    border: 2px rgb(202, 176, 176) solid;
}

.icon-size {
    font-size: 90px;
    padding-top: 30px;
}

.c_icon_text {
    font-size: 22px; 
    margin-top: 20px;
    
}

.fa-html5 {
    color:tomato;
}

.fa-css3-alt {
    color: rgb(17, 17, 98);
}

.fa-sass {
    color: pink;
}

.fa-js {
    color: yellow;
}

.fa-react {
    color: turquoise;
}

.fa-git-alt {
    color: tomato;
}

/* quote */

.quote {
    height:800px;
    width:100%;
    padding: 130px 40px 140px;
    background-color: #387C6D;
    color: white;
}

.fa-quote-right {
    font-size: 200px;
}

.quote_text { 
    font-size: 20px;
    width: 50%;
    margin-top: 10%;
    text-align: center;
}

.quote_autor {
    font-size: 36px;
    margin-top: 5%;
}





































/* footer info */

footer {
    width: 100%;
    height: 350px;
    background-color: #E9896A;
    padding-top: 60px;
}

.footer_nav {
    width: 100%;
    height: 20%;
}

.footer_contact_list {
    width: 30%;
    font-size: 15px;
    color: white;
}

.footer_item_color{
    color: cornsilk;
}
.link-color {
    color: white;
    text-decoration-line: none ;
}
.link-color:hover {
    color: violet;
}

/* caja iconos social media */


.socialmedia_box_size {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: white;
    color:#E9896A;
    margin: 20px 10px;
}

.footer_link_color {
    background-color: white;
    color:#E9896A;

}

.made-with-wine {
    font-size: 20px;
    color: rgb(218, 206, 206);
    margin-top: 50px;
}

.fa-mug-hot {
    color: rgb(255, 254, 254);
}
