

.proyectos {
    width: 100%;
    height: 75rem; 
    padding:5% 0% 2%; 
}

.proyectos_container {
    width: 80%;
    height: 50rem;
    margin-top: 3%;
}

.proyectos_card {
    border-radius: 10px;
    border: 1px solid rgb(224, 220, 220);
    height: 30%;
    width: 30%;
    padding: 2%;
    transition: .5s;   
}

.img_size {
    width:70%;
    height:100%;
    background-repeat:no-repeat;
    background-size:contain;
    background-position: center;
    transition: .5s;
}

.img_background_portafolio {
    background-image:url('../assets/images/undraw_nature_on_screen_xkli.svg');
}

.img_background_memes {
    background-image:url('../assets/images/undraw_static_assets_rpm6.svg');
}

.img_background_match {
    background-image:url('../assets/images/undraw_subscribe_vspl.svg');
}

.img_background_gastos {
    background-image:url('../assets/images/undraw_happy_announcement_ac67.svg');
}

.img_background_reuniones {
    background-image:url('../assets/images/undraw_Group_chat_re_frmo.svg');
}

.img_background_app {
    background-image:url('../assets/images/undraw_friends_r511.svg');
}

.img_background_peliculas {
    background-image:url('../assets/images/undraw_Landscape_mode_re_r964.svg');
}

.img_text {
    font-size: 16px;
    font-weight: 400;
    margin-top: 6%;
    transition: .5s;
}


.proyectos_card:hover {
    border: 2px solid #7A306C;
    transition:.5s;
}

.proyectos_card:hover .img_text {
    font-size: 18px;
    font-weight: 600;
    transition: .5s;
}

.proyectos_card:hover .img_size {
    filter: drop-shadow(10px 10px 10px rgb(255, 253, 107));
    width:80%;
    height:100%;
    background-repeat:no-repeat;
    background-size:contain;
    background-position: center;
    transition: .5s;
}
.wilde_quote {
    animation-name: wilde;
    animation-duration: 6s;
    animation-direction: normal reverse;
    animation-iteration-count: infinite;
}

@keyframes wilde {
    0% { color: white; font-weight: 100}
    100% { color: black; font-weight: 300; }
}