
footer {
    width: 100%;
    height: 350px;
    background-color: #E9896A;
    padding-top: 60px;
}

.footer_nav {
    width: 100%;
    height: 20%;
}

.footer_contact_list {
    width: 40%;
    font-size: 15px;
    color: white;
    justify-content:space-evenly;
}

.footer_item_color{
    color: cornsilk;
}

.link-color {
    color: white;
    text-decoration-line: none ;
}

.link-color:hover {
    color: black;
    font-size: 1rem;
}

/* caja iconos social media */


.footer_link_color {
    background-color: white;
    color:#E9896A;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50px;
    background-color: white;
    color:#E9896A;
    margin: 1.5rem 0.8rem;
}

.footer_link_color:hover {
    background-color: #E9896A;
    color: white;
}

.made-with-wine {
    font-size: 1rem;
    color: rgb(218, 206, 206);
    margin-top: 3,125rem;
}

.fa-mug-hot {
    color: rgb(255, 254, 254);
}
