
@media screen and (max-width: 400px) {
    
    
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    color: black;
    font-family: 'Montserrat', sans-serif;
}


/* TIPOS -TITULOS - TEXT */

.p_cont_text { 
font: .6rem;
width: 80%; 
white-space: pre-line;
}

.titulo {
    font-size: 1.6rem;
    font-weight: 900;    
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
}

/* FLEX */

.f_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.f_row {
    display: flex;
    flex-direction: column-reverse;
}

.f_reverse {
    display: flex;
    flex-direction: column-reverse;

}

.f_column {
    display: flex;
}

.f_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.f_column_start {
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
}

/* HEADER */

header {
    display: none;
}


/* INICIO MAIN - PRESENTACION */


main {
    width: 100%;
}

.encabezado {    
    width: 100%; 
    height: 40rem; 
    display: flex;
    position: relative;
}

.p_size-text {
    width: 70%;
    font-size: 0.6rem;
}

.encabezado_texto-caja {
    width: 100%;
    height:15rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.presentacion-saludo {
    font-size: 1rem;
    font-weight: bold;
}

.presentacion-name {
    font-size: 2.5rem;
    margin: 0.5rem 0rem;
    text-align: center;
}

.btn_loquehago {
    width: 8rem;
    height: 2rem;
    border-radius: 30px;
    color:white;
    margin-top: 1rem;
    margin-left: 2%;
    box-shadow:none;
}

.btn_loquehago:hover {
    background-color: cadetblue;
}

.encabezado_imagen {
    width: 80%;
    height: 15rem;
}

.lola-img-presentation {
    width: 100%;
    height: 100%;     
}


/*CAJA DE ICONOS CONOCIMIENTO*/

.section_conocimientos {
    width: 100%;
    height:50rem;
    padding-top: 10%;
    background-color: #F8F5F1;
}

.iconos_container {
    margin-top: 2.5rem;    
    width: 90%;
    height: 60%;
}

.c_icon_box {
    width: 45%;
    height: 35%;    
    margin-bottom: 5%;    
    padding: 2%;
}

.icon-size {
    font-size: 3.5rem;
    padding-top: 0.8rem;
}

.c_icon_text {
    font-size: 0.6rem; 
    margin-top: 1rem;
}


/* QUOTE */

.quote {
    height:38rem;
    width:100%;
    padding: 8rem 2.5rem;
}

.fa-quote-right {
    font-size: 8rem;
    margin-bottom: 5%;
}

.quote_autor {
    font-size: 1.8rem;
    margin-top: 20%;
    text-align: right;
}

/*proyectos*/

.proyectos {
    width: 100%;
    height: 120rem; 
    padding:10% 0% 2%; 
}

.proyectos_container {
    width: 100%;
    margin-top: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.proyectos_card {
    height: 25%;
    width: 70%;
    padding: 5% 2% 5%; 
    margin: 1.5rem;   
}

.proyectos_card:hover {
    border: 1px solid #7A306C;
}

.card_img {
    height:80%;
    width:100%
}

.img_size-text {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 6%;
}

/* CONTACTO - FORMULARIO */


.section_contact {
    height: 86rem;
    width:100%;
    background-color: #5959ac;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.contact_box {
    width: 90%;
    height: 80rem;
    padding: 2.5rem 1rem 0rem;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:flex-start;
}

.contact_form {
    width: 100%;
    height: 26rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.h3_form {
    font-size: 2.6rem;
    font-weight: 900;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}


.i_contact {
    font-size: 1.6rem;
    color: #7A306C;
    padding: .4rem;
}

.i-text {
    font-size: .8rem;
    font-weight: 300;
}


/*formulario*/

.contact_form_responsive {
    width: 100%;
    height: 45rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input_apellido-nombre {
    width: 100%;
    flex-direction:https://cabezadenispero.github.io/Portafolio/ column;

}

.input_mitad {
    border-radius: 10px;
    border-style: none;
    margin: 0rem;
    background-color: #d2e7eb;
    outline-style: none;
    width: 20rem;
}

.input-style {
    border-radius: 10px;
    border-style: none;
    margin: 0rem;
    padding: 0rem;
    background-color: #d2e7eb;
    outline-style: none;
    width: 18rem;
}

#email {
    height:2.5rem;
}
.btn_enviar {
    width: 8rem;
    height: 3rem;
    margin-top: 3rem;
    border: transparent;
}

.btn_enviar:hover {
    background-color: #123d34;
}

.input-heigt {
    height: 2rem;
    margin: 0.5rem 0rem;
    
}

.input-style {
    border-radius: 15px;
    border-style: none;
    background-color: rgb(250, 243, 243);
    padding-top: 3%;
}

.line_style {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width:60%;
}

/* FOOTER */

footer {
    width: 100%;
    height: 16rem;
    background-color: #E9896A;
    padding-top: 3rem;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}


/* CAJA ICONOS SOCIAL MEDIA */

.f_socialmedia_responsive {
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-between;
}
.p_size-text { 
    width: 80%;
    text-align: center;
}

.footer_nav {
    display: none;
} 

.socialmedia_box_size {
    
    border-radius: 50px;
    background-color: white;
    color:#E9896A;
    margin: 1rem 0.5rem;
}

.footer_link_color {
    background-color: white;
    color:#E9896A;

}

.made-with-wine {
    font-size: 20px;
    color: rgb(218, 206, 206);
    margin-top: 1rem;
}

.fa-mug-hot {
    color: rgb(255, 254, 254);
}

}
